@import "config";

body, html{
  height: 100%;
}

body{
  font-family: 'Montserrat';
  margin: 0;

  a{
    text-decoration: none;
    color: inherit;
  }

  #bg{
    clip-path: polygon(100% 0, 100% 82%, 45% 100%, 0 100%, 0 0);
    background: $backgroundgradient;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

  }

  header div{
    color: #fff;
    text-decoration: none;
    padding: $padding;
    display: block;
    text-decoration: uppercase;
  }
}

main{

  section#card{
    background: #fff;
    padding: 20px;
    margin: 1em auto;
    border-radius: $borders;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
    width: 80%;

    img.logo-clientes{
      width: 100%;
      max-width: 200px;
      height: auto;
      margin-right: 1em;
      margin-bottom: 1em;
    }

    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;

      li{
        margin-bottom: 10px;

        strong{
          display: inline-block;
          margin-left: max(40px);
          margin-top: 10px;
        }
      }
    }
  }

  section#primary{
    color: #fff;
    padding: $padding;
    text-align: center;

    img{
      margin-top: 10px;
      width: 100%;
      max-width: 500px;
      height: auto;
    }

    h1{
      font-size: 4em;
      margin-top: 10px;
      text-transform: uppercase;
      font-family: $highlight-font;
    }

    p{
      font-size: 1.6em;
      font-family: $highlight-font;
    }

    a{
      color: color(primary-dark);
      border-radius: $borders;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      background-color: color(accent);
      display: block;
      text-align: center;
      margin: 30px auto 0 auto;
      padding: $padding;

    }
  }
}

@import 'responsive';
